body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    grid-template-areas: 
    "nav nav nav nav nav nav"
    "image image main-text main-text main-text main-text"
    "sign-up sign-up sign-up store-locator store-locator store-locator"
    "footer footer footer footer footer footer";
}

#nav{
    display:flex;
    grid-area: nav;
    border: 2px solid yellow;
    align-items: center;
}

#blue-icepop{
    max-width: 75px; 
   max-height: 75px; 
}

#popsicle-rainbow{
    max-width: 350px;
    height:250px;
}

#image{
    grid-area: image;
    border: 2px solid gray;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-text{
    grid-area: main-text;
    border: 2px solid green;
    align-items: center;
    justify-content: left;
    text-align: left;
}

#sign-up{
    grid-area: sign-up;
    border: 2px solid pink;

}

#store-locator{
    grid-area: store-locator;
    border: 2px solid orange;

}

#footer{
    grid-area: footer;
    border: 2px solid red;

}

.spacer{
    flex-grow: 1;
}

nav ul {
    margin: 0;
    padding-right: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    align-items: center;
}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}